<!--
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="fragment::top"></th:block>
<head>
    <div th:replace="fragment :: top"></div>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div th:replace="index2 :: header"></div>


<div class="body-content">
    <div class="module">
        <h1>Add p</h1>
        <form class="form" action="#" th:action="@{/addpledgeditem}" th:object="${pledgeditem}" method="post">
            <input type="hidden" th:field="*{id}">


            <label>First Name</label>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}">

            <label >Last Name</label>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}">

            <label >Pledge Item</label>
            <span th:if="${#fields.hasErrors('pledgeditem')}" th:errors="*{pledgeditem}"></span>
            <input type="text" placeholder="Pledged Item" class="form-control" th:field="*{pledgeditem}">

            <label >Serving</label>
            <span th:if="${#fields.hasErrors('serving')}" th:errors="*{serving}"></span>
            <input type="text" placeholder="Serving"class="form-control" th:field="*{serving}">

            <input type="submit" value="Save" name="save" class="btn btn-block btn-primary" />


        </form>
    </div>
</div>

<section>
    <span th:replace="fragment::bootstrap4js"></span>
</section>
</body>
</html>


-->
